*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1444px) {
  html {
    font-size: 57.5%;
  }
}

body {
  background: var(--primary-color);
  color: var(--text-white);
  font-family: var(--primary-font);
  box-sizing: border-box;
}

#root {
  min-height: 100dvh;
}
